<?xml version="1.0"?>
<launch>
  <arg name="world_file" default="$(find moby_stage)/worlds/multi_robots_intersection.world"/>
  <arg name="name0" default="car0" />
  <arg name="name1" default="car1" />
  <param name="/use_sim_time" value="true"/>

  <!--  ================ Stage ================  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="/robot_0/cmd_vel" to="/$(arg name0)/cmd_vel"/>
    <remap from="/robot_1/cmd_vel" to="/$(arg name1)/cmd_vel"/>
    <remap from="/robot_0/odom" to="$(arg name0)/odom"/>
    <remap from="/robot_1/odom" to="$(arg name1)/odom"/>
    <remap from="/robot_0/base_pose_ground_truth" to="/$(arg name0)/base_pose_ground_truth"/>
    <remap from="/robot_1/base_pose_ground_truth" to="/$(arg name1)/base_pose_ground_truth"/>
  </node>

  <!-- ============= control cars ============ -->
  <node name="cars_control" type="solabot_challenge_teleop.py" pkg="moby_stage" output="screen"/>

  <!-- =============  rosbag  ============== -->
  <arg name="path" default="$(find moby_stage)/rosbag/" />
  <arg name="session" default="james_james_1.bag" />
  <arg name="topic1" default="/car0/base_pose_ground_truth"/>
  <arg name="topic2" default="/car1/base_pose_ground_truth"/>
  <arg name="topic3" default="/car0/cmd_vel"/>
  <arg name="topic4" default="/car1/cmd_vel"/>
  <node pkg="rosbag" type="record" name="rocorder" output="screen" args="-O $(arg path)$(arg session) $(arg topic1) $(arg topic2) $(arg topic3) $(arg topic4) " />


  <!-- ==== costmap visualization ==== 
  <node name="car0_costmap_plot" type="car0_costmap_plot.py" pkg="moby_stage"/>
  <node name="car1_costmap_plot" type="car1_costmap_plot.py" pkg="moby_stage"/>
  --> 
</launch>
